<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css">
    <style>
        table, tr, td {
            border: 5px solid;
        }
    </style>
</head>
<body>
    <h1>KPM BERANANG</h1>
    <h2>Search Course Information</h2>

    <form action="" method="GET">
        <div class="form-inline">
            <input type="text" placeholder="Search"  name="search" class="form-control" required="required">
            <input type="submit" value="Search">
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Date</th>
            </tr>
        </thead>
        <tbody>
            {% for members in members %}
            <tr>
                <td>{{ members.coursecode }}</td>
                <td>{{ members.coursename }}</td>
                <td>{{ members.coursedate }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
