<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"type="text/css">
    <style>
        table, tr, td {
            border: 5px solid;
        }
    </style>
</head>
<body>
    <a href="{% url 'index' %}">
        Back
    </a>
    <br><br>
    <a href="{% url 'new_course' %}">
        New Course
    </a>

    <h1>Course</h1>
    <br>
    <table>
        <tr>
            <td>Code</td>
            <td>Description</td>
            <td>Date</td>
        </tr>
        {% for data in alldata %}
            <tr>
                <td>{{data.coursecode}}</td>
                <td>{{data.coursename}}</td>
                <td>{{data.coursedate}}</td>
                <td><a href="update/{{data.coursecode}}">update</a></td>
                
            </tr>
            
        {% endfor %}
    </table>
    <br><br>
    
</body>
</html>